<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feedmeappjava">

    <application
        android:allowBackup="true"
        android:icon="@drawable/delivery"
        android:label="@string/app_name"
        android:roundIcon="@drawable/delivery"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserPasswordChange"></activity>
        <activity android:name=".UserEditProfileActivity" />
        <activity
            android:name=".UserMainScreen"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".AdminMainScreen" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>