<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feedmeappjava">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/delivery"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserAddAddressActivity"></activity>
        <activity android:name=".UserOrderStatusActivity" />
        <activity android:name=".UserFoodDetailActivity" />
        <activity android:name=".UserFoodListActivity" />
        <activity android:name=".UserDPActivity" />
        <activity android:name=".UserTCActivity" />
        <activity android:name=".UserTermsAndConditions" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".UserHelpCentreActivity" />
        <activity android:name=".UserAddressActivity" />
        <activity android:name=".UserOrderActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".UserExplorerActivity" />
        <activity android:name=".UserPasswordChange" />
        <activity android:name=".UserEditProfileActivity" />
        <activity
            android:name=".UserMainScreen"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminMainScreen" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>